<div style="text-align: center;background-color: black;color: white;padding: 0.5rem;margin-bottom: 1rem;">
  <h1>Shopping Shop</h1>
</div>
<div class="container">
  <div class="header">
      <p><span id="price">{{"256.25"|currency:"INR"}}</span></p>
  </div>
  <div class="elementOne">
      <div class="one">
          <p style="color:rgb(187, 198, 240)">Payment Id</p>
      </div>
      <div class="two">
          <p>&nbsp;dsfdfafaf</p>
      </div>
  </div>
  <div class="elementTwo">
      <div class="one">
          <p style="color:rgb(187, 198, 240)">Paid On</p>
      </div>
      <div class="two">
          <p>15th May, 2020</p>
      </div>
  </div>
  <div class="elementThree">
      <div class="one">
          <p style="color:rgb(187, 198, 240)">Method</p>
      </div>
      <div class="two">
          <p>XXXX-XXXX-XXXX-5008</p>
          <p style="color:rgb(187, 198, 240)">Card</p>
      </div>
  </div>
  <div class="elementFour">
      <div class="one">
          <p style="color:rgb(187, 198, 240)"> Mobile Number</p>
      </div>
      <div class="two">
          <p>+918870709119</p>
      </div>
  </div>
  <div class="elementFive" style="text-align: center;">
      <button routerLink="/">Continue Shopping</button>
      <br><br>
  </div>
</div>


